@font-face {
    font-family: 'RobotoBlack',sans-serif;
    src: url(./fonts/Roboto-Black.ttf) ;
}
@font-face {
    font-family: 'RobotoBlackItalic' , sans-serif;
    src: url(./fonts/Roboto-BlackItalic.ttf) ;
}
@font-face {
    font-family: 'RobotoBold' , sans-serif;
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'RobotoBoldItalic' , sans-serif;
    src: url(./fonts/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: 'RobotoItalic' , sans-serif;
    src: url(./fonts/Roboto-Italic.ttf);
}
@font-face {
    font-family: 'RobotoLight', sans-serif;
    src: url(./fonts/Roboto-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: 'RobotoLightItalic' , sans-serif;
    src: url(./fonts/Roboto-LightItalic.ttf);
    font-weight:lighter;
}
@font-face {
    font-family: 'RobotoThin' , sans-serif;
    src: url(./fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'RobotoItalic' , sans-serif;
    src: url(./fonts/Roboto-ThinItalic.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    flex-flow: wrap;
}
header{
    background-color: #1f2937;
}
header section img{
    width: 250px;
    height: 300px;
    
}
header nav li a{
    color:#f9faf8;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
header section h1{
    color:#f9faf8;
    font-size: 48px;
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
}
header section h2{
    font-size: 18px;
    color:#e5e7eb;
    font-family: 'Roboto',sans-serif; 
   font-weight: lighter;
}
nav{
    padding-left: 9.3%;
    padding-right: 6.3%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-size: 24px;
    color:#f9faf8;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
 }
nav ul li {
 list-style-type: none;
 display: inline-block;
 margin:25px;
}
button{
    background-color: #3882f6;
    padding: 10px;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    color: #f9faf8;
    box-shadow: #3882f6;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
header section{
    display:flex;
    padding-left:120px;
    padding-right:120px;
    padding-bottom:120px;
    padding-top:90px;
    align-items: center;
    justify-content: center;
}

header section .content {
   flex:1;
   margin-right: 40px;
}
header section img{
    flex:1;
}
header section div .contents{
    margin:20px;
}
main .section1 h1{
    font-size: 36px;
    font-family:'Roboto',sans-serif;
    font-weight:bolder;
    color: #1f2937;
}
main .section1 figure img{
    width:200px;
    height:200px;
}
main .section1 figure figcaption{
    font-family:'Roboto',sans-serif;
    color: #e5e7eb;
    font-weight: lighter;
}
main .section1{
    margin: 80px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;   
}
main .section1 .figures figure {
   display: inline-block;
   margin: 40px;
   margin-top:80px;
}
main .section1 .figures figure img{
    border: 5px solid #3882f6;
    box-shadow: #3882f6;
    border-radius: 10px;
}
main .section1 .figures figure figcaption{
 text-align: center;
 font-family: 'Roboto',sans-serif;
 font-weight: lighter;
  color: #1f2937;
}
main aside p{
    font-size: 36px;
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}
main aside{
    background-color: #e5e7eb;
    padding: 200px;
}
main .section2{
   background-color: #3882f6;
   margin: 200px;
   box-shadow: #3882f6;
   border-radius: 10px; 
   padding:25px;
}
main .section2 .information .information1{
    color:#f9faf8;
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
}
main .section2 .information .information2{
    color:#e5e7eb;
    font-family: 'Roboto',sans-serif; 
   font-weight: lighter;
}
main .section2 .button2 {
    border-color: #f9faf8;
}
main .section2{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
footer p{
    color:#e5e7eb;
    font-family: 'Roboto',sans-serif; 
    font-weight: lighter;
    text-align: center;
}
footer{
  background-color: #1f2937;
  padding:40px;
}
header nav .logo-content img{
    width: 30px;
    height:30px;
}
header nav .logo-content{
    display:flex;
    justify-content: space-around;
}





















    


  




